<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <!--<add name="Denion.WebService.Database.SqlServer" connectionString="Server=192.168.200.100\SQLEXPRESS;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;"/>-->
    <add name="Denion.WebService.Database.SqlServer" connectionString="Server=tcp:bs-sql01.database.windows.net,1433;Initial Catalog=verwijsindex;Persist Security Info=False;User ID=verwijsindex_user;Password=rHQx+1B!,u/oxU~H;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajt" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="sbs" tagName="TimePicker" src="~/Controls/TimePicker.ascx"/>
        <add tagPrefix="sbs" tagName="Menu" src="~/Controls/SiteMenu.ascx"/>
        <!--<add tagPrefix="sbs" namespace="WebControls" assembly="WebControls"/>-->
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="false" />
      </rules>
    </rewrite>
  </system.webServer>
</configuration>