<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Denion.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServiceId" value="NPRPROXY"/>
  </appSettings>
  <connectionStrings>
	<add name="Denion.WebService.Database.SqlServer" connectionString="Server=localhost;Database=VerwijsIndex;User Id=rootshpv;Password=rootshpv;"/>
  </connectionStrings>
  <system.web>
    <compilation />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="NPRProxyService.svc" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="Registration_CustomBinding_IRegistration">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11WSAddressing10" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpsTransport manualAddressing="false" maxBufferPoolSize="524288"
            maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" requireClientCertificate="true" />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="binder">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NPRProxyService.NPRProxyServiceBehavior" name="NPRProxyService.ProxyService">
        <endpoint address="" binding="wsHttpBinding" contract="Denion.WebService.VerwijsIndex.IVerwijsIndex" bindingConfiguration="binder" bindingNamespace="https://verwijsindex.shpv.nl/service/">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="https://psb.gatrdw.nl/bevraging/rpv/201511/registration.svc" binding="customBinding" bindingConfiguration="Registration_CustomBinding_IRegistration" contract="RDW.IRegistration"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NPRProxyService.NPRProxyServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <applicationSettings>
    <Denion.WebService.Properties.Settings>
      <setting name="EndPoint" serializeAs="String">
        <value>https://psb.gatrdw.nl/bevraging/rpv/201511/registration.svc</value>
      </setting>
      <setting name="MsgPin" serializeAs="String">
        <value>0YyEOI5hndNxp5So77ANIA==</value>
      </setting>
      <setting name="UsageId" serializeAs="String">
        <value>PARKEREN</value>
      </setting>
      <setting name="ProviderId" serializeAs="String">
        <value>NPRPROD</value>
      </setting>
      <setting name="AVG" serializeAs="String">
        <value>False</value>
      </setting>
    </Denion.WebService.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: 09FA26A8-0499-417A-817D-3510B3B454C9-->