<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceId" value="AutonomousConsumerService"/>
  </appSettings>
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer" connectionString="Server=tcp:bs-sql01.database.windows.net,1433;Initial Catalog=verwijsindex;Persist Security Info=False;User ID=verwijsindex_user;Password=rHQx+1B!,u/oxU~H;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
      </wsHttpBinding>
    </bindings>
    <services>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="developmentBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
