<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBinder" hostNameComparisonMode="Exact" xdt:Transform="Insert">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="AutonomousConsumerService.AutonomousConsumerServiceBehavior" name="AutonomousConsumerService.AutonomousConsumerService" xdt:Transform="Insert">
        <endpoint address="" binding="wsHttpBinding" contract="Denion.WebService.VerwijsIndex.IConsumer" bindingConfiguration="SecureBinder" bindingNamespace="https://verwijsindex.shpv.nl/service/" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="developmentBehavior" xdt:Transform="Remove" />
        <behavior name="AutonomousConsumerService.AutonomousConsumerServiceBehavior" xdt:Transform="Insert">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment xdt:Transform="Remove" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="false" xdt:Transform="SetAttributes" />
  </system.webServer>
</configuration>