<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceId" value="AutonomousConsumerService"/>
  </appSettings>
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer" connectionString="Server=tcp:bs-sql01.database.windows.net,1433;Initial Catalog=verwijsindex;Persist Security Info=False;User ID=verwijsindex_user;Password=rHQx+1B!,u/oxU~H;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding/>
    </bindings>
    <services/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="developmentBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>