<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AVGService.Remote_IAVG">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_VerwijsIndex">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_VerwijsIndex1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_VerwijsIndex2">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_VerwijsIndex3">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://verwijsindex.shpv.nl/Service/VerwijsIndexService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VerwijsIndex"
                contract="shpv.nl_Service_VerwijsIndexService.VerwijsIndex"
                name="WSHttpBinding_VerwijsIndex" />
            <endpoint address="https://www.parkeerregister.nl/Services/Administration.svc"
                binding="basicHttpBinding" bindingConfiguration="AVGService.Remote_IAVG"
                contract="parkeerregister.nl_Services_AdministrationService.IAVG"
                name="AVGService.Remote_IAVG" />
            <endpoint address="https://verwijsindex.shpv.nl/Service/201404/VerwijsIndexService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VerwijsIndex1"
                contract="shpv.nl_Service_201404_verwijsindexservice.VerwijsIndex"
                name="WSHttpBinding_VerwijsIndex1" />
            <endpoint address="https://verwijsindex.shpv.nl/Service/201505/VerwijsIndexService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VerwijsIndex2"
                contract="nl.shpv_verwijsindex_201505.VerwijsIndex" name="WSHttpBinding_VerwijsIndex2" />
            <endpoint address="https://verwijsindex.shpv.nl/Servicev4/201709/VerwijsIndexService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VerwijsIndex3"
                contract="nl.shpv_verwijsindex_201709.VerwijsIndex" name="WSHttpBinding_VerwijsIndex3" />
        </client>
    </system.serviceModel>
</configuration>