<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer"
      connectionString="Server=tcp:bs-sql01.database.windows.net,1433;Initial Catalog=verwijsindex;Persist Security Info=False;User ID=verwijsindex_user;Password=rHQx+1B!,u/oxU~H;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="binder" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <binding name="SecureBinder" hostNameComparisonMode="Exact" xdt:Transform="Insert">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ConsumerService.ConsumerServiceBehavior" name="ConsumerService.ConsumerService" xdt:Transform="Replace" xdt:Locator="Match(name)">
        <endpoint address="" binding="wsHttpBinding" contract="Denion.WebService.VerwijsIndex.IConsumer" bindingConfiguration="SecureBinder" bindingNamespace="https://verwijsindex.shpv.nl/service/" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ConsumerService.ConsumerServiceBehavior" xdt:Transform="Replace" xdt:Locator="Match(name)">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"  />
          <serviceDebug includeExceptionDetailInFaults="false" httpHelpPageEnabled="false" httpsHelpPageEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>