<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Denion.Web.ProviderClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServiceId" value="ProviderClient"/>
    <add key="ProviderServiceURL" value="https://verwijsindex.azurewebsites.net/Service/ProviderService.svc"/>
    <add key="NPRProviderServiceURL" value="https://verwijsindex.azurewebsites.net/Service/registration.svc"/>
    <add key="Filter" value="AND PROVIDER='363PG'"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=BS-SPO13;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;" name="Denion.WebService.Database.SqlServer"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <webServices>
      <soapExtensionTypes>
        <remove type="WebServiceSoapExtension.SoapReverserExtension, WebServiceSoapExtension, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7c5b1e940054b693"/>
      </soapExtensionTypes>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="sbs" tagName="Menu" src="~/Controls/SiteMenu.ascx"/>
        <add tagPrefix="vwx" namespace="WebControls" assembly="WebControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <!--<defaultDocument>
      <files>
        <add value="Cancel.aspx"/>
      </files>
    </defaultDocument>-->
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_VerwijsIndex">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://verwijsindex.shpv.nl/Service/VerwijsIndexService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_VerwijsIndex" contract="ServiceReference2.VerwijsIndex" name="WSHttpBinding_VerwijsIndex"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Denion.Web.ProviderClient.Properties.Settings>
      <setting name="ProviderServiceURL" serializeAs="String">
        <value>https://verwijsindex.shpv.nl/Service/VerwijsIndexService.svc</value>
      </setting>
      <setting name="LinkRegistrationRequestContainer" serializeAs="String">
        <value>&lt;s:Envelope xmlns:s="http://www.w3.org/2003/05/soap-envelope" xmlns:a="http://www.w3.org/2005/08/addressing"&gt;
  &lt;s:Header&gt;
    &lt;a:Action s:mustUnderstand="1"&gt;https://verwijsindex.shpv.nl/service/Provider/BatchRegistration&lt;/a:Action&gt;
    &lt;a:MessageID&gt;urn:uuid:&lt;!--MessageID--&gt;&lt;/a:MessageID&gt;
    &lt;a:ReplyTo&gt;
      &lt;a:Address&gt;http://www.w3.org/2005/08/addressing/anonymous&lt;/a:Address&gt;
    &lt;/a:ReplyTo&gt;
    &lt;a:To s:mustUnderstand="1"&gt;&lt;!--To--&gt;&lt;/a:To&gt;
  &lt;/s:Header&gt;
  &lt;s:Body&gt;
    &lt;BatchRegistration xmlns="https://verwijsindex.shpv.nl/service/"&gt;
      &lt;req xmlns:b="https://verwijsindex.shpv.nl/messages/" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"&gt;
        &lt;b:Batch&gt;
          &lt;!--LinkRegistrationRequest--&gt;
        &lt;/b:Batch&gt;
      &lt;/req&gt;
    &lt;/BatchRegistration&gt;
  &lt;/s:Body&gt;
&lt;/s:Envelope&gt;</value>
      </setting>
      <setting name="LinkRegistrationRequestMessage" serializeAs="String">
        <value>          &lt;b:LinkRegistrationRequest&gt;
            &lt;b:ProviderId&gt;&lt;!--ProviderId--&gt;&lt;/b:ProviderId&gt;
            &lt;b:LinkId&gt;&lt;!--LinkId--&gt;&lt;/b:LinkId&gt;
            &lt;b:VehicleId&gt;&lt;!--VehicleId--&gt;&lt;/b:VehicleId&gt;
            &lt;b:CountryCode&gt;&lt;!--CountryCode--&gt;&lt;/b:CountryCode&gt;
            &lt;b:ValidFrom&gt;&lt;!--ValidFrom--&gt;&lt;/b:ValidFrom&gt;
            &lt;b:ValidUntil&gt;&lt;!--ValidUntil--&gt;&lt;/b:ValidUntil&gt;
          &lt;/b:LinkRegistrationRequest&gt;</value>
      </setting>
    </Denion.Web.ProviderClient.Properties.Settings>
  </applicationSettings>
</configuration>