<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="Denion.WebService.Database.SqlServer" connectionString="Server=192.168.200.100\SQLEXPRESS;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;"/>-->
    <add name="Denion.WebService.Database.SqlServer" connectionString="Server=tcp:bs-sql01.database.windows.net,1433;Initial Catalog=verwijsindex;Persist Security Info=False;User ID=verwijsindex_user;Password=rHQx+1B!,u/oxU~H;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceId" value="ConsoleApp"/>
  </appSettings>
</configuration>