<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer"
       connectionString="Server=localhost;Database=VerwijsIndex;User Id=rootshpv;Password=rootshpv;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="VerwijsIndexService.TestBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"
        name="Denion.WebService.VerwijsIndex.VerwijsIndexService">
        <endpoint address="https://vwx.52dn.nl/Service/VerwijsIndexService.svc"
          binding="wsHttpBinding" bindingConfiguration="SecureVwxBinder"
          bindingNamespace="https://vwx.52dn.nl/Service/" contract="Denion.WebService.VerwijsIndex.IVerwijsIndex" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ProviderService.TestBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"
        name="Denion.WebService.VerwijsIndex.ProviderService">
        <endpoint address="https://vwx.52dn.nl/Service/ProviderService.svc"
          binding="wsHttpBinding" bindingConfiguration="SecureVwxBinder"
          bindingNamespace="https://vwx.52dn.nl/Service/" contract="Denion.WebService.VerwijsIndex.IProvider"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VerwijsIndexService.TestBehavior"  xdt:Locator="Match(name)" xdt:Transform="Insert">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"
            httpsGetUrl="https://vwx.52dn.nl/Service//VerwijsIndexService.svc" />
          <serviceDebug httpsHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ProviderService.TestBehavior"  xdt:Locator="Match(name)" xdt:Transform="Insert">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"
            httpsGetUrl="https://vwx.52dn.nl/Service/ProviderService.svc" />
          <serviceDebug httpsHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="UnsecureVwxBinder" xdt:Locator="Match(name)" xdt:Transform="Remove"/>
        <binding name="SecureVwxBinder" xdt:Transform="Insert">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>