<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceId" value="VerwijsIndexService"/>
  </appSettings>
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer" connectionString="Server=192.168.200.100\SQLEXPRESS;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;"/>
    <add name="Denion.WebService.Database.LoggingServer" connectionString="Server=192.168.200.100\SQLEXPRESS;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="false"/>
      </rules>
    </rewrite>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DebugBehavior" name="Denion.WebService.VerwijsIndex.VerwijsIndexService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="UnsecureVwxBinder" bindingNamespace="https://verwijsindex.shpv.nl/service/" contract="Denion.WebService.VerwijsIndex.IVerwijsIndex"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="DebugBehavior" name="Denion.WebService.VerwijsIndex.ProviderService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="UnsecureVwxBinder" bindingNamespace="https://verwijsindex.shpv.nl/service/" contract="Denion.WebService.VerwijsIndex.IProvider"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="DebugBehavior" name="Denion.WebService.VerwijsIndex.registration">
        <endpoint address="" binding="customBinding" bindingConfiguration="UnsecureNprBinder" bindingNamespace="http://rdw.nl/rpv/1.0" contract="Denion.WebService.VerwijsIndex.IRegistration"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <!--    <serviceHostingEnvironment multipleSiteBindingsEnabled="false">
      <baseAddressPrefixFilters>
        <add prefix="https://shpv-srv02:4432/"/>
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="UnsecureVwxBinder" hostNameComparisonMode="WeakWildcard">
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
      <customBinding>
        <binding name="UnsecureNprBinder">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" writeEncoding="utf-8"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>