<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
  -->
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer"
      connectionString="Server=SHPV-SRV01\SQLEXPRESS;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="VerwijsIndexService.ProductionBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"
        name="Denion.WebService.VerwijsIndex.VerwijsIndexService">
        <endpoint address="https://verwijsindex.shpv.nl/Service/VerwijsIndexService.svc"
          binding="wsHttpBinding" bindingConfiguration="SecureBinder"
          bindingNamespace="https://verwijsindex.shpv.nl/service/" contract="Denion.WebService.VerwijsIndex.IVerwijsIndex" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ProviderService.ProductionBehavior" xdt:Locator="Match(name)" xdt:Transform="Replace"
        name="Denion.WebService.VerwijsIndex.ProviderService">
        <endpoint address="https://verwijsindex.shpv.nl/Service/ProviderService.svc"
          binding="wsHttpBinding" bindingConfiguration="SecureBinder"
          bindingNamespace="https://verwijsindex.shpv.nl/service/" contract="Denion.WebService.VerwijsIndex.IProvider"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VerwijsIndexService.ProductionBehavior"  xdt:Locator="Match(name)" xdt:Transform="Insert">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"
            httpsGetUrl="https://verwijsindex.shpv.nl/Service/VerwijsIndexService.svc" />
          <serviceDebug httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="ProviderService.ProductionBehavior"  xdt:Locator="Match(name)" xdt:Transform="Insert">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="true"
            httpsGetUrl="https://verwijsindex.shpv.nl/Service/ProviderService.svc" />
          <serviceDebug httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DebugBehavior" xdt:Locator="Match(name)" xdt:Transform="Remove">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="SecureBinder" hostNameComparisonMode="Exact" xdt:Locator="Match(name)" xdt:Transform="Insert">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="UnsecureBinder" hostNameComparisonMode="WeakWildcard" xdt:Locator="Match(name)" xdt:Transform="Remove">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>