<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Denion.WebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ServiceId" value="NPRProviderService"/>
  </appSettings>
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer" connectionString="Replace"/>
    <add name="Denion.WebService.Database.SqlServer.AVG" connectionString="Replace"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="NPRProviderService.svc"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DebugBehavior" name="Denion.WebService.NPRProviderService">
        <endpoint address="" binding="wsHttpBinding" contract="Denion.WebService.VerwijsIndex.IVerwijsIndex" bindingConfiguration="binder" bindingNamespace="https://verwijsindex.shpv.nl/service/">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <client>
      <endpoint address="http://xsbsvc201511.diensten.tld/Registration.svc"
        binding="basicHttpBinding" bindingConfiguration="CustomBinding_IRegistration"
        contract="RDW.IRegistration" />
      <endpoint address="http://xsbsvc201511-o.ot.tld/Registration.svc"
        binding="basicHttpBinding" bindingConfiguration="CustomBinding_IRegistration1"
        contract="RDW.IRegistration" name="CustomBinding_IRegistration" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug httpHelpPageEnabled="false" includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomBinding_IRegistration" />
        <binding name="CustomBinding_IRegistration1" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="binder">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <applicationSettings>
    <Denion.WebService.Properties.Settings>
      <setting name="CertPin" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="MsgPin" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="UsageId" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="ProviderId" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="CertFile" serializeAs="String">
        <value>REPLACE</value>
      </setting>
      <setting name="AVG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EndPoint" serializeAs="String">
        <value>https://psb.rdw.nl:443/bevraging/rpv/201511/registration.svc</value>
      </setting>
    </Denion.WebService.Properties.Settings>
  </applicationSettings>
</configuration>