<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer"
      connectionString="Server=SHPV-SRV01\SQLEXPRESS;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
    <add name="Denion.WebService.Database.SqlServer.AVG"
      connectionString="Server=SHPV-SRV01\SQLEXPRESS;Database=AVG;User Id=avgwww;Password=Qu^8bIkuJe1y;"
         xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceId" value="AVGTEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
    <Denion.WebService.Properties.Settings>
      <setting name="EndPoint" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>https://psb.gatrdw.nl/bevraging/rpv/201210/registration.svc</value>
      </setting>
      <setting name="CertPin" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>DZlvLTH55DilPmGcJIaXdA==</value>
      </setting>
      <setting name="MsgPin" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>HRId/+f0PAKx8/dIYAi5wkLw/9fnttIJBmmSDb0nGxU=</value>
      </setting>
      <setting name="UsageId" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>PARKEREN</value>
      </setting>
      <setting name="ProviderId" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>AVGTEST</value>
      </setting>
      <setting name="CertFile" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>C:\VerwijsIndex\Cert\NPR Testcertificaat XML verkeer_4_20120418.pfx</value>
      </setting>
      <setting name="AVG" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>True</value>
      </setting>
    </Denion.WebService.Properties.Settings>
  </applicationSettings>
</configuration>