<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
  -->
  <connectionStrings>
    <add name="Denion.WebService.Database.SqlServer" 
         connectionString="Server=BS-SPP10;Database=VerwijsIndex;User Id=idxsvc;Password=Hi)7wHxuH;" 
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Denion.WebService.Database.SqlServer.AVG" 
         connectionString="Server=BS-SPP10;Database=VWX_AVG;User Id=avgwww;Password=Qu^8bIkuJe1y;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="ServiceId" value="NPRTEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <applicationSettings>
    <Denion.WebService.Properties.Settings>
      <setting name="EndPoint" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>https://psb.gatrdw.nl/bevraging/rpv/201210/registration.svc</value>
      </setting>
      <setting name="CertPin" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>FHPWbH8rWjRSDJ2OjeLFeg==</value>
      </setting>
      <setting name="MsgPin" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>aTmi/rDpUvlcUEM7vPjiwA==</value>
      </setting>
      <setting name="UsageId" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>PARKEREN</value>
      </setting>
      <setting name="ProviderId" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>NPRTEST</value>
      </setting>
      <setting name="CertFile" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>C:\inetpub\wwwroot\VerwijsIndex\Cert\ICT Spirit Business Solutions testclientcert.SHPV_53_20150529.pfx</value>
      </setting>
      <setting name="AVG" serializeAs="String" xdt:Locator="Match(name)" xdt:Transform="Replace">
        <value>True</value>
      </setting>
    </Denion.WebService.Properties.Settings>
  </applicationSettings>
</configuration>